@charset "utf-8";
/* 文字セット */

$spMax: "768px";
$pcMin: "769px";

html {
    font-size: 62.5%;
}

input,select{
    -webkit-appearance: none;
   border-radius: 0;
   border: 0;
   background: none;
}

.bruno{

*{
    // font-family: '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, Verdana, Roboto, 'Droid Sans', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic Medium", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #333;
    box-sizing: border-box;
    text-decoration: none;
}

display: flex;
flex-wrap: wrap;
justify-content: space-between;
width:100%;
max-width: 1100px;
margin: 0 auto;
box-sizing: border-box;

.bruno_thumArea{
    width: 100%;
    padding: 10px 4%;
}

.bruno_productInfo{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.bruno_brand{
    font-size: 1.4rem;
}
.bruno_productName{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -.05em;
    margin-bottom: 15px;
}
.bruno_productLabels{
    width: 100%;
    margin-bottom: 10px;
}
.bruno_productPrice{
    width: 100%;
}
.bruno_productsArea{
    width: 100%;
}
.bruno_products{
    margin: 10px 0;
}
.bruno_footer{
    width: 100%;
}
.bruno_numSelector{
    width: 100%;
    margin-bottom: 20px;
    .comp-numSelector{
        width: 100%;
    }
}
.bruno_cvArea{
    .bruno_cvBtn{
        position: relative;
        width: 100%;
    }
}


@media (min-width: $pcMin) {
    .bruno_thumArea{
        width: calc(30% - 20px);
        padding: 0;
    }
    .bruno_cvArea{
        display: flex;
        justify-content: space-between;
    }
    .bruno_footer{
        width: 400px;
        margin: 0 0 0 auto;
    }
}

.comp-imgArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .comp-imgArea_img{
        display: block;
        width: 100%;
    }
}

.comp-labels{
    .comp-labels_labelList{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;   
    }
    .comp-labels_label{
        display: flex;
        padding: 5px 8px;
        margin: 0 5px 5px 0;
        border-radius: 5px;
        border: solid 1px #D7DADD;
        color: #888;
        background: #F5F7F8;
        font-size: 1.2rem;
    }
}
.comp-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 1em;
    .comp-price_label{
        margin-right: 5px;
        display: block;
    }
    .comp-price_price{
        font-size: 1.8rem;
        line-height: 1em;
        font-weight: bold;
        color: #bf0000;
        span{
            display: inline-block;
            margin-right: 5px;
            font-size: 180%;
            line-height: 1em;
            color: #bf0000;
        }
    }
}
.comp-label{
    padding: 3px 4px 3px 5px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .1em;
    &.freeShipping{
        background: #bf0000;
        color: #fff;
    }
}
.comp-caution{
    padding: 10px;
    background: #f2eee7;
    .comp-caution_text{
        color: #bf0000;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
        text-indent: -1em;
        margin-left: 1em;
    }
}
@media (min-width: $pcMin) {
    .comp-caution{
        .comp-caution_cautionList{
            width: 500px;
            margin: 0 auto;
        }
        .comp-caution_text{
            font-size: 1.4rem;
        }
    }
}
.comp-items{
    width: 100%;
    .comp-items_skus{
        margin-top: 10px;
    }
    .comp-items_itemInfo{
        width: 100%;
        .comp-price_price{
            font-size: 1.2rem;
        }
        .comp-price_label{
            font-size: 1rem;
        }
    }
    .comp-items_brandName{
        font-size: .8rem;
        color: #888;
        letter-spacing: .1em;
    } 
    .comp-items_itemName{
        display: block;
        width: 100%;
        margin-bottom: 8px;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.4em;
    }
    .comp-items_price{
        width: 100%;
    }
    .comp-items_itemList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .comp-items_item{
            width: 100%;
        }
        .comp-skus{
            width: 100%;
        }        
    }
    .comp-items_item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-bottom: 8px;
        min-height: 40px;
        &.comp-items_item__single{
            .comp-items_thumArea{
                width: 29%;
                .comp-img{
                    width: 100%;
                }
            }
            .comp-items_core{
                width: 70%;
            }
        }
    }
    .comp-items_thumArea{
        width: 100%;
        margin-bottom: 5px;
        img{
            display: block;
            width: 50%;
        }
    }
    .comp-items_core{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .comp-items_footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
    }
    .comp-items_cvArea{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        .bruno_cvBtn{
            width: calc(70% - 5px);
        }
        .comp-btn{
            height: 40px;
        }
        .comp-btn__cart{
            width: 30%;
        }
    }
    .comp-items_checkContents{
        margin-bottom: 10px;
    }
    .comp-items_checkContent{
        font-size: .8rem;
        text-indent: -1.2em;
        margin-left: 1em;
        line-height: 1.4em;
    }
}

@media (min-width: $pcMin) {
    .comp-items{
        .comp-items_itemName{
            font-size: 1.6rem;
        }
        .comp-items_itemList{
            justify-content: space-between;
        }
        .comp-items_item{
            padding: 15px;
            .comp-items_thumArea{
                width: 200px;
                padding: 0;
                margin-bottom: 0;
                img{
                    display: block;
                    width: 90%;
                }
            }
            .comp-items_core{
                width: calc(100% - 220px);
            }
            &.comp-items_item__single{
                width: calc(50% - 4px);
                padding: 10px;
                .comp-items_thumArea{
                    width: 120px;
                }
                .comp-items_core{
                    width: calc(100% - 130px);
                }  
            }
        }
        .comp-items_checkContents{
            width: calc(100% - 220px);
            margin-bottom: 0;
        }
        .comp-items_cvArea{
            width: 200px;
            margin: 0 0 0 auto;
            .bruno_cvBtn{
                width: 100%;
            }
            .comp-btn{
                height: 50px;
            }
            .comp-btn__cart{
                display: none;
            }
        }
    }
}

.comp-skus{
    width: 100%;
    .comp-skus_skuList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: -8px;
    }
    .comp-skus_sku{
        width: 49%;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 8px;
        min-height: 46px;
    }
}
@media (min-width: $pcMin) {
    .comp-skus{
        .comp-skus_skuList{
            justify-content: flex-start;
        }
        .comp-skus_sku{
            width: 32%;
            margin-right: 2%;
            &:nth-of-type(3n){
                margin-right: 0;
            }
        }
    }
}
.comp-itemSelector{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    .comp-itemSelector_itemName{
        width: calc(100% - 25px);
        line-height: 1.4em;
        font-size: 1.4rem;
        font-weight: 700;
    }
    .comp-items_itemInfo{
        width: calc(100% - 28px);
    }
    &.comp-itemSelector__selected{
        background: #fffcdb;
    }
}
@media (min-width: $pcMin) {
    .comp-itemSelector{
        &:hover{
            background: #fffcdb;
        }
    }
}

.comp-approval{
    background: #eeeeee;
    .comp-approval_title{
        padding: 3px 0;
        text-align: center;
        color: #fff;
        background: #555;
        font-size: 1.2rem;
        letter-spacing: .08em;
    }
    .comp-approval_inner{
        padding: 10px;
    }
    .comp-approval_noticeContentArea{
        width: 100%;     
        margin-bottom: 10px;
    }
    .comp-approval_approval{
        text-indent: -1em;
        margin-left: 1.5em;
        font-size: 1.2rem;
    }
    .comp-approval_productName{
        text-align: center;
        font-size: 1rem;
        line-height: 1.2em;
        padding: 3px 0;
        background: #ddd;
        span{
            font-size: 110%;
        }
    }
    .comp-approval_noticeList{
        padding: 5px;
    }
    .comp-approval_notice{
        margin-bottom: 3px;
        font-size: 1rem;
        line-height: 1.6em;
        text-indent: -1.4em;
        margin-left: 1.4em;
        margin-bottom: 5px;
        &:last-of-type{
            margin-bottom: 0;
        }
        &:before{
            content: '■';
        }
    }
    .comp-approval_checkArea{
        background: #fff;
        padding: 10px;
        text-align: center;
    }
    .comp-approval_caution{
        text-align: center;
        font-size: 0.8rem;
        color: #bf0000;   
    }
}
@media (min-width: $pcMin){
    .comp-approval{
        .comp-approval_inner{
            padding: 10px;
        }
    }
}



.comp-checkBox{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #aaa;
    border-radius: 50%;
    &.comp-checkBox__selected{
        &:before{
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: #bf0000;
        }
    }
}
.comp-numSelector{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    .comp-numSelector_selectWrapper{
        position: relative;
        border: 1px solid #888;
        border-radius: 5px;
        margin-left: 5px;
        &:before{
            content: "";
            display: block;
            position: absolute;
            bottom: 5px;
            right: 4px;
            z-index: 0;
            width: 7px;
            height: 30px;
            background: url(../img/numSelect.png) no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }
    .comp-numSelector_select{
        position: relative;
        z-index: 10;
        background: none;
        display: block;
        min-width: 40px;
        height: 40px;
        padding: 5px 15px;
    }
}
@media (min-width: $pcMin){
    .comp-numSelector{
        justify-content: flex-start;
    }
}
.comp-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: #ddd;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    .comp-btn_icon{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    &.comp-btn__cv{
        position: relative;
        background: #bf0000;
        .comp-btn_icon{
            border: 2px solid #fff;
            border-radius: 50%;
            &:before,
            &:after{
                content: '';
                display: block;
                width: 60%;
                height: 2px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform-origin: center; 
                background: #fff;
            }
            &:before{
                transform: translate(-50%, -50%);
            }
            &:after{
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
    &.comp-btn__disabled{
        opacity: .3;
        &:hover{
            cursor: auto;
            opacity: .3;
        }
    }
    &.comp-btn__cart{
        background: #bf0000;
        .comp-btn_icon{
            background: url(../img/carticon.png);
        }
    }
}
@media (min-width: $pcMin) {
    .comp-btn{
        &:hover{
            opacity: .8;
            cursor: pointer;
        }
    }
}

.comp-msg{
    position: absolute;
    left: 50%;
    bottom: calc(105% + 5px);
    z-index: 9999;
    transform: translateX(-50%); 
    background: rgba(0, 0, 0, .9);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 10px;
    &:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 8px 0 8px;
        border-color: rgba(0, 0, 0, .9) transparent transparent transparent;        
    }
    .comp-msg_title{
        font-size: 1.4rem;
        color: #fff;
    }
    .comp-msg_text{
        font-size: 1.2rem;
        color: #fff;
    }
}

.comp-checkLabel{
    padding-left: calc(20px + 5px);
    line-height: 20px;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    input{
        display: none;
        &:checked + .comp-checkLabel_icon:after{
            position: absolute;
            left: 28%;
            bottom: 5%;
            content: '';
            display: block;
            width: 5px;
            height: 15px;
            border-right: 3px solid #bf0000;
            border-bottom: 3px solid #bf0000;
            transform: rotate(45deg);

        }
    }
    .comp-checkLabel_icon{
        position: absolute;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        left: 0px;
        top: 0;
        border: 1px solid #B3B3B3;
        z-index: 3;
        box-sizing: border-box;
    }
}


}